<form [formGroup]="managerFormGroup" class="form">

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Login</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="login"
           matInput maxlength="32" required>
    <mat-error *ngIf="loginFormControl.hasError('required')">
      Required field
    </mat-error>
    <mat-error *ngIf="loginFormControl.hasError('loginExist')">
      User with login {{loginFormControl.value}} already exist
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="password" matInput maxlength="32"
           [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>First name</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="firstName"
           matInput required>
    <mat-hint>Example: Ivan</mat-hint>
    <mat-error *ngIf="firstNameFormControl.hasError('pattern')">
      Enter a first name, start with capital letter
    </mat-error>
    <mat-error *ngIf="firstNameFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Last name</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="lastName"
           matInput required>
    <mat-hint>Example: Ivanov</mat-hint>
    <mat-error *ngIf="lastNameFormControl.hasError('pattern')">
      Enter a last name, start with capital letter
    </mat-error>
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Phone</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="phone" matInput>
    <mat-hint>Example: 88005553535</mat-hint>
    <mat-error *ngIf="phoneFormControl.hasError('pattern')">
      Enter only numbers(not more than 11 symbols)
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="email"
           matInput required>
    <mat-hint>Example: ivan@ivanov.com</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('pattern')">
      Enter a valid email
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <p *ngIf="isCreated">Manager has been created</p>
  <p *ngIf="loginExists" class="mat-error">{{errorMessage}}</p>

  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!managerFormGroup.valid" value="bold">
    Submit
  </button>
</form>

