<app-spinner *ngIf="personalInformation === undefined; else info"></app-spinner>

<ng-template #info>
  <div *ngIf="personalInformation !== undefined">
    <mat-card>
      <mat-card-title>Personal Information</mat-card-title>

      <mat-card-content>Login: {{login}}</mat-card-content>
      <mat-card-content>First name: {{personalInformation.firstName}}</mat-card-content>
      <mat-card-content>Last name: {{personalInformation.lastName}}</mat-card-content>
      <mat-card-content *ngIf="checkRole('DRIVER')">
        Driver license: {{driverInformation.driverLicense}}
      </mat-card-content>
      <mat-card-content>Email: {{personalInformation.email}}</mat-card-content>
      <mat-card-content *ngIf="personalInformation.phone !== ''">
        Phone: {{personalInformation.phone}}
      </mat-card-content>
      <mat-card-content *ngIf="checkRole('DRIVER')">
        Status: {{driverInformation.status}}
      </mat-card-content>

      <div>
        <button *ngIf="checkRole('ADMIN')" mat-flat-button color="primary" (click)="edit()">
          Edit personal information
        </button>
      </div>

      <div>
        <button class="change-pass-button" mat-flat-button color="primary" (click)="changePassword()">
          Change password
        </button>
      </div>
    </mat-card>
  </div>
</ng-template>

<div *ngIf="checkRole('DRIVER')">
  <app-spinner *ngIf="!isFreeDriver && order === undefined"></app-spinner>
  <p *ngIf="isFreeDriver; else cargoInfo">You don't have any cargo</p>

  <ng-template #cargoInfo>
    <div *ngIf="order !== undefined">
      <app-filled-order [order]="order" (onDeliver)="deliver($event)"></app-filled-order>

      <div *ngIf="driverId === order.driver.id">
        <div *ngIf="order.status === 'CREATED'">
          <button mat-flat-button color="primary" (click)="accept()">Accept</button>
          <button mat-flat-button class="driver-action-button" color="warn" (click)="refuse()">Refuse</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
