<form [formGroup]="passwordFormGroup" class="form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Current password</mat-label>
    <input [errorStateMatcher]="matcher" [formControl]="currentPasswordFormControl" matInput minlength="8"
           maxlength="32" [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="currentPasswordFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>New password</mat-label>
    <input [errorStateMatcher]="matcher" [formControl]="newPasswordFormControl" matInput minlength="8" maxlength="32"
           [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="newPasswordFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <p class="mat-error" *ngIf="error !== ''">{{error}}</p>
  <p *ngIf="isChanged">Password successfully changed</p>

  <button mat-flat-button color="primary" [disabled]="!passwordFormGroup.valid || checking" (click)="changePassword()">
    Change password
  </button>
</form>

