<div *ngIf="updatedManager !== undefined">
  <form [formGroup]="managerFormGroup" class="form">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>First name</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="firstName" matInput>
      <mat-hint>Example: Ivan</mat-hint>
      <mat-error *ngIf="firstNameFormControl.hasError('pattern')">
        Enter a first name, start with capital letter
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Last name</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="lastName" matInput>
      <mat-hint>Example: Ivanov</mat-hint>
      <mat-error *ngIf="lastNameFormControl.hasError('pattern')">
        Enter a last name, start with capital letter
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Phone</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="phone" matInput>
      <mat-hint>Example: 88005553535</mat-hint>
      <mat-error *ngIf="phoneFormControl.hasError('pattern')">
        Enter only numbers
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="email" matInput>
      <mat-hint>Example: ivan@ivanov.com</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('pattern')">
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <p *ngIf="isUpdated">User data has been updated</p>

    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!managerFormGroup.valid" value="bold">Apply
    </button>

  </form>
</div>
