<br>
<br>
<div *ngIf="personalInformation !== undefined">
  <mat-card>
    <mat-card-title>Personal Information</mat-card-title>

    <mat-card-content>Login: {{personalInformation.user.login}}</mat-card-content>
    <mat-card-content>First name: {{personalInformation.user.firstName}}</mat-card-content>
    <mat-card-content>Last name: {{personalInformation.user.lastName}}</mat-card-content>
    <mat-card-content>Driver license: {{personalInformation.driverLicense}}</mat-card-content>
    <mat-card-content>Email: {{personalInformation.user.email}}</mat-card-content>
    <mat-card-content *ngIf="personalInformation.user.phone !== ''">
      Phone: {{personalInformation.user.phone}}
    </mat-card-content>
    <mat-card-content>Status: {{personalInformation.status}}</mat-card-content>
  </mat-card>
</div>

<br>

<p *ngIf="isFreeDriver">You don't have any cargo</p>

<div *ngIf="cargo !== undefined && cargo !== null">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cargo
      </mat-panel-title>
      <mat-panel-title>
        {{cargo.status}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-tab-group>
      <mat-tab label="Cargo Information">
        <p>Title: {{cargo.title}}</p>
        <p *ngIf="cargo.description !== ''">Description: {{cargo.description}}</p>
        <p>Weight: {{cargo.weight}}</p>
      </mat-tab>
      <mat-tab label="Truck Information">
        <p>Model: {{cargo.truck.model}}</p>
        <p>Registration number: {{cargo.truck.registrationNumber}}</p>
        <p>Capacity: {{cargo.truck.capacity}}</p>
        <p>Condition: {{cargo.truck.condition}}</p>
      </mat-tab>
      <mat-tab label="Driver Information">
        <p>First name: {{cargo.driver.user.firstName}} </p>
        <p>Last name: {{cargo.driver.user.lastName}} </p>
        <p *ngIf="cargo.driver.user.phone !== null">Phone: {{cargo.driver.user.phone}}</p>
        <p>Email: {{cargo.driver.user.email}}</p>
      </mat-tab>
      <mat-tab label="Co-Driver Information">
        <p>First name: {{cargo.coDriver.user.firstName}} </p>
        <p>Last name: {{cargo.coDriver.user.lastName}} </p>
        <p *ngIf="cargo.driver.user.phone !== null">Phone: {{cargo.driver.user.phone}}</p>
        <p>Email: {{cargo.coDriver.user.email}}</p>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="hardCodedDriverId === cargo.driver.id">
      <div *ngIf="cargo.status === 'CREATED'">
        <button mat-flat-button color="primary" (click)="accept()">Accept</button>
        <button mat-flat-button color="warn" (click)="refuse()">Refuse</button>
      </div>

      <button mat-flat-button color="primary"
              *ngIf="isCargoInProgress" (click)="deliver()">Delivered
      </button>
    </div>

  </mat-expansion-panel>
</div>
