<br>
<br>
<div *ngIf="personalInformation !== undefined">
  <mat-card>
    <mat-card-title>Personal Information</mat-card-title>

    <mat-card-content>Login: {{personalInformation.userDto.login}}</mat-card-content>
    <mat-card-content>First name: {{personalInformation.userDto.firstName}}</mat-card-content>
    <mat-card-content>Last name: {{personalInformation.userDto.lastName}}</mat-card-content>
    <mat-card-content>Driver license: {{personalInformation.driverLicense}}</mat-card-content>
    <mat-card-content>Email: {{personalInformation.userDto.email}}</mat-card-content>
    <mat-card-content *ngIf="personalInformation.userDto.phone !== ''">
      Phone: {{personalInformation.userDto.phone}}
    </mat-card-content>
    <mat-card-content>Status: {{personalInformation.status}}</mat-card-content>
  </mat-card>
</div>

<br>

<div *ngIf="cargo !== undefined && cargo !== null">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cargo
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-tab-group>
      <mat-tab label="Cargo Information">
        <p>Title: {{cargo.title}}</p>
        <p *ngIf="cargo.description !== ''">Description: {{cargo.description}}</p>
        <p>Weight: {{cargo.weight}}</p>
      </mat-tab>
      <mat-tab label="Truck Information">
        <p>Model: {{cargo.truckDto.model}}</p>
        <p>Registration number: {{cargo.truckDto.registrationNumber}}</p>
        <p>Capacity: {{cargo.truckDto.capacity}}</p>
        <p>Condition: {{cargo.truckDto.condition}}</p>
      </mat-tab>
      <mat-tab label="Driver Information">
        <p>First name: {{cargo.driverDto.userDto.firstName}} </p>
        <p>Last name: {{cargo.driverDto.userDto.lastName}} </p>
        <p *ngIf="cargo.driverDto.userDto.phone !== ''">Phone: {{cargo.driverDto.userDto.phone}}</p>
        <p>Email: {{cargo.driverDto.userDto.email}}</p>
      </mat-tab>
      <mat-tab label="Co-Driver Information">
        <p>First name: {{cargo.coDriverDto.userDto.firstName}} </p>
        <p>Last name: {{cargo.coDriverDto.userDto.lastName}} </p>
        <p *ngIf="cargo.driverDto.userDto.phone !== ''">Phone: {{cargo.driverDto.userDto.phone}}</p>
        <p>Email: {{cargo.coDriverDto.userDto.email}}</p>
      </mat-tab>
    </mat-tab-group>

    <div>
      <button mat-flat-button color="primary" (click)="accept()">Accept</button>
      <button mat-flat-button color="warn" (click)="refuse()">Refuse</button>
    </div>
  </mat-expansion-panel>
</div>
