<div *ngIf="updatedDriver !== undefined">
  <form [formGroup]="driverFormGroup" class="form">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="firstName" matInput>
      <mat-hint>Example: Ivan</mat-hint>
      <mat-error *ngIf="firstNameFormControl.hasError('pattern')">
        Enter a first name, start with capital letter
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="lastName" matInput>
      <mat-hint>Example: Ivanov</mat-hint>
      <mat-error *ngIf="lastNameFormControl.hasError('pattern')">
        Enter a last name, start with capital letter
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Phone</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="phone" matInput>
      <mat-hint>Example: 88005553535</mat-hint>
      <mat-error *ngIf="phoneFormControl.hasError('pattern')">
        Enter only numbers
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="email" matInput>
      <mat-hint>Example: ivan@ivanov.com</mat-hint>
      <mat-error *ngIf="emailFormControl.hasError('pattern')">
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Driver license</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="driverLicense" matInput>
      <mat-hint>Example: 9373827462</mat-hint>
      <mat-error *ngIf="driverLicenseFormControl.hasError('pattern')">
        Enter 10 numbers
      </mat-error>
      <mat-error *ngIf="driverLicenseFormControl.hasError('driverLicenseExist')">
        Driver with license {{driverLicenseFormControl.value}} already exists
      </mat-error>
    </mat-form-field>

    <p *ngIf="isUpdated">User data has been updated</p>
    <p *ngIf="driverLicenseExists" class="mat-error">{{errorMessage}}</p>

    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!driverFormGroup.valid" value="bold">Apply
    </button>

  </form>
</div>
