<div *ngIf="updatedManager !== undefined">
  <form [formGroup]="managerFormGroup" class="example-form">

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="firstName" matInput
             placeholder="First name" [value]="updatedManager.firstName">
      <mat-error *ngIf="firstNameFormControl.hasError('pattern')">
        Enter a first name in English(not more than 32 symbols)
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="lastName" matInput
             placeholder="Last name" [value]="updatedManager.lastName">
      <mat-error *ngIf="lastNameFormControl.hasError('pattern')">
        Enter a last name in English(not more than 32 symbols)
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="phone" matInput
             placeholder="Phone" [value]="updatedManager.phone">
      <mat-error *ngIf="phoneFormControl.hasError('pattern')">
        Enter only numbers(not more than 11 symbols)
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="email" matInput
             placeholder="Email" [value]="updatedManager.email">
      <mat-error *ngIf="emailFormControl.hasError('pattern')">
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <br>

    <p *ngIf="isUpdated">User data has been updated</p>

    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!managerFormGroup.valid" value="bold">Apply
    </button>

  </form>
</div>
