<div>
  <button mat-flat-button color="primary" (click)="addNewTruck()">
    Add new truck
  </button>
</div>

<div class="nav">
  <div class="left">
    <app-filter (onFilterInput)="doSearch($event)"></app-filter>
  </div>
  <div class="right">
    <app-navigation [setPage]="page"
                    (onSizeChange)="sizeChange($event)" (onPageChange)="pageChange($event)"></app-navigation>
  </div>
</div>

<app-spinner *ngIf="trucks === undefined; else emptyList"></app-spinner>
<ng-template #emptyList>
  <p *ngIf="trucks !== undefined && trucks.length === 0; else table">List is empty</p>
</ng-template>

<ng-template #table>
  <table mat-table [dataSource]="trucks">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="registrationNumber">
      <th mat-header-cell *matHeaderCellDef>Registration number</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.registrationNumber}}
      </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.model}}
      </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Capacity</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.capacity}}
      </td>
    </ng-container>

    <ng-container matColumnDef="condition">
      <th mat-header-cell *matHeaderCellDef> Condition</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.condition}}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        <button color="accent" mat-button [matMenuTriggerFor]="menu" (click)="checkToUpdate(truck.id)">Actions</button>
        <mat-menu #menu="matMenu">
          <button *ngIf="canUpdate" mat-menu-item (click)="updateTruck(truck.id)">Edit</button>
          <button *ngIf="truck.condition === 'SERVICEABLE'" mat-menu-item (click)="setBroken(truck.id)">Broken</button>
          <button *ngIf="truck.condition === 'BROKEN'" mat-menu-item (click)="setServiceable(truck.id)">
            Serviceable
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-template>
