<mat-horizontal-stepper [linear]="true" #stepper>

  <mat-step [stepControl]="firstFormGroup" [editable]="false">
    <ng-template matStepLabel>Add cargo</ng-template>
    <app-cargo-list-info (onValidFirstGroup)="setUpFirstFormGroup($event, stepper)"></app-cargo-list-info>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="false">
    <ng-template matStepLabel>Choose truck</ng-template>
    <app-truck-info [cargoWeight]="totalWeight" (onValidSecondGroup)="setUpSecondFormGroup($event, stepper)"></app-truck-info>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" [editable]="false">
    <ng-template matStepLabel>Choose drivers</ng-template>
    <app-drivers-info [getDrivers]="isSecondGroupValid" (onValidThirdGroup)="setUpThirdFormGroup($event, stepper)"></app-drivers-info>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <app-filled-order [order]="order"></app-filled-order>

    <p *ngIf="isCreated">Cargo has been created</p>

    <button mat-flat-button color="primary" (click)="confirm()"
            [disabled]="isCreated">
      Confirm
    </button>
  </mat-step>
</mat-horizontal-stepper>
