<div *ngIf="oldTruck !== undefined">
  <form [formGroup]="truckFormGroup" class="form">

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Registration number</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="registrationNumber" matInput>
      <mat-hint>Example: KL90232</mat-hint>
      <mat-error *ngIf="registrationNumberFormControl.hasError('pattern')">
        Enter a number in format АА12345
      </mat-error>
      <mat-error *ngIf="registrationNumberFormControl.hasError('registrationNumberExist')">
        Truck with registration number {{registrationNumberFormControl.value}} already exists
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Model</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="model" matInput>
      <mat-error *ngIf="modelFormControl.hasError('maxLength')">
        Length not more than 32
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Capacity</mat-label>
      <input [errorStateMatcher]="matcher" formControlName="capacity" matInput>
      <span matSuffix>kg</span>
      <mat-error *ngIf="capacityFormControl.hasError('pattern')">
        Enter number in format 2.5
      </mat-error>
    </mat-form-field>

    <p *ngIf="isUpdated">Truck has been updated</p>
    <p *ngIf="errorMessage !== ''" class="mat-error">{{errorMessage}}</p>

    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!truckFormGroup.valid" value="bold">
      Submit
    </button>
  </form>
</div>

