<mat-card>
  <mat-card-title>Cargo Information</mat-card-title>

  <mat-card-content>Title: {{cargo.title}}</mat-card-content>
  <mat-card-content *ngIf="cargo.description !== ''">Description: {{cargo.description}}</mat-card-content>
  <mat-card-content>Weight: {{cargo.weight}}</mat-card-content>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        First driver
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <p>First name: {{cargo.driverDto.userDto.firstName}}</p>
      <p>Last name: {{cargo.driverDto.userDto.lastName}}</p>
      <p>Driver license: {{cargo.driverDto.driverLicense}}</p>
      <p>Email: {{cargo.driverDto.userDto.email}}</p>
      <p *ngIf="cargo.driverDto.userDto.phone !== ''">Phone: {{cargo.driverDto.userDto.phone}}</p>
    </div>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Co-driver
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <p>First name: {{cargo.coDriverDto.userDto.firstName}}</p>
      <p>Last name: {{cargo.coDriverDto.userDto.lastName}}</p>
      <p>Co-driver license: {{cargo.coDriverDto.driverLicense}}</p>
      <p>Email: {{cargo.coDriverDto.userDto.email}}</p>
      <p *ngIf="cargo.coDriverDto.userDto.phone !== ''">Phone: {{cargo.coDriverDto.userDto.phone}}</p>
    </div>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Truck
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <p>Model: {{cargo.truckDto.model}}</p>
      <p>Registration number: {{cargo.truckDto.registrationNumber}}</p>
      <p>Capacity: {{cargo.truckDto.capacity}}</p>
    </div>
  </mat-expansion-panel>

</mat-card>
