<mat-card>
  <mat-card-title>Cargo Information</mat-card-title>

  <mat-card-content>Title: {{cargo.title}}</mat-card-content>
  <mat-card-content *ngIf="cargo.description !== ''">Description: {{cargo.description}}</mat-card-content>
  <mat-card-content>Weight: {{cargo.weight}}</mat-card-content>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        First driver
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <p>First name: {{cargo.driver.user.firstName}}</p>
      <p>Last name: {{cargo.driver.user.lastName}}</p>
      <p>Driver license: {{cargo.driver.driverLicense}}</p>
      <p>Email: {{cargo.driver.user.email}}</p>
      <p *ngIf="cargo.driver.user.phone !== null">Phone: {{cargo.driver.user.phone}}</p>
    </div>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Co-driver
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <p>First name: {{cargo.coDriver.user.firstName}}</p>
      <p>Last name: {{cargo.coDriver.user.lastName}}</p>
      <p>Co-driver license: {{cargo.coDriver.driverLicense}}</p>
      <p>Email: {{cargo.coDriver.user.email}}</p>
      <p *ngIf="cargo.coDriver.user.phone !== null">Phone: {{cargo.coDriver.user.phone}}</p>
    </div>
  </mat-expansion-panel>

  <br>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Truck
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <p>Model: {{cargo.truck.model}}</p>
      <p>Registration number: {{cargo.truck.registrationNumber}}</p>
      <p>Capacity: {{cargo.truck.capacity}}</p>
    </div>
  </mat-expansion-panel>

</mat-card>
