<div class="nav">
  <div class="left">
    <app-filter (onFilterInput)="doSearch($event)"></app-filter>
  </div>
  <div class="right">
    <app-navigation [setPage]="page"
                    (onSizeChange)="sizeChange($event)" (onPageChange)="pageChange($event)"></app-navigation>
  </div>
</div>

<form [formGroup]="thirdFormGroup">
  <table mat-table [dataSource]="drivers">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let driver; let i = index">
        {{driver.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let driver; let i = index">
        {{driver.user.firstName}} {{driver.user.lastName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="driverLicense">
      <th mat-header-cell *matHeaderCellDef> Driver license</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let driver; let i = index">
        {{driver.driverLicense}}
      </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Choice</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let driver; let i = index">
        <button mat-stroked-button color="primary"
                class="action-info-button" (click)="selectFirstDriver(driver)">
          First Driver
        </button>
        <button mat-stroked-button color="primary"
                class="action-info-button" (click)="selectCoDriver(driver)">
          Co-Driver
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="driverDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: driverDisplayedColumns;"></tr>
  </table>

  <mat-expansion-panel *ngIf="firstDriver !== undefined">
    <mat-expansion-panel-header>
      <mat-panel-title>
        First Driver: {{firstDriver.user.firstName}}  {{firstDriver.user.lastName}}
      </mat-panel-title>
      <button mat-flat-button color="warn" class="action-info-button" (click)="deleteFirstDriver()">
        Cancel
      </button>
    </mat-expansion-panel-header>

    <p>Driver license: {{firstDriver.driverLicense}}</p>
    <p>Email: {{firstDriver.user.email}}</p>
    <p *ngIf="firstDriver.user.phone !== '' && firstDriver.user.phone !== null">
      Phone: {{firstDriver.user.phone}}
    </p>
    <p>Status:{{firstDriver.status}}</p>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="coDriver !== undefined">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Co-Driver: {{coDriver.user.firstName}}  {{coDriver.user.lastName}}
      </mat-panel-title>
      <button mat-flat-button color="warn" class="action-info-button" (click)="deleteCoDriver()">
        Cancel
      </button>
    </mat-expansion-panel-header>

    <p>Driver license: {{coDriver.driverLicense}}</p>
    <p>Email: {{coDriver.user.email}}</p>
    <p *ngIf="coDriver.user.phone !== '' && coDriver.user.phone !== null">
      Phone: {{coDriver.user.phone}}
    </p>
    <p>Status:{{coDriver.status}}</p>
  </mat-expansion-panel>

  <button mat-flat-button color="primary" class="button-next" [disabled]="thirdFormGroup.invalid" (click)="next()">
    Apply
  </button>
</form>
