mat-expansion-panel {
  margin-top: 1%;
}

.button-next {
  margin-top: 1%;
}

.nav {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.grey {
  background-color: #f5f5f5;
}
