<mat-horizontal-stepper [linear]="true">
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Fill out cargo information</ng-template>
    <form [formGroup]="firstFormGroup" class="form">

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="titleFormControl.hasError('required')">
          Required field
        </mat-error>
        <mat-error *ngIf="titleFormControl.hasError('maxlength')">
          Max length is 32 symbols
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
        <mat-error *ngIf="descriptionFormControl.hasError('maxLength')">
          Max length is 256 symbols
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput type="number" formControlName="weight">
        <span matSuffix>kg</span>
        <mat-error *ngIf="weightFormControl.hasError('required')">
          Required field
        </mat-error>
        <mat-error *ngIf="weightFormControl.hasError('min')">
          Min value is 1 kg
        </mat-error>
      </mat-form-field>

      <button mat-flat-button matStepperNext color="primary" [disabled]="firstFormGroup.invalid">
        Next
      </button>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Select load and discharge locations</ng-template>

    <div class="left">
      <form [formGroup]="secondFormGroup" class="form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Load location</mat-label>
          <input type="text" matInput [formControl]="loadFormControl"
                 [matAutocomplete]="autoLoad">
          <mat-autocomplete #autoLoad="matAutocomplete">
            <mat-option *ngFor="let city of filteredLoadCities | async" [value]="city.name + ', ' + city.country"
                        (click)="chooseLoadLocation(city)">
              {{city.name}}, {{city.country}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Discharge location</mat-label>
          <input type="text" matInput [formControl]="dischargeFormControl"
                 [matAutocomplete]="autoDischarge">
          <mat-autocomplete #autoDischarge="matAutocomplete">
            <mat-option *ngFor="let city of filteredDischargeCities | async" [value]="city.name + ', ' + city.country"
                        (click)="chooseDischargeLocation(city)">
              {{city.name}}, {{city.country}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <p *ngIf="isEqualsCities" class="mat-error">Load and discharge location cannot be equals</p>
        <button mat-flat-button color="primary" [disabled]="!secondFormGroup.valid" (click)="add()">
          Add
        </button>
      </form>
    </div>

    <div class="right" *ngIf="loadLoc !== undefined && dischargeLoc !== undefined">
      <agm-map [fitBounds]="bounds">
        <agm-marker [latitude]="loadLoc.latitude" [longitude]="loadLoc.longitude"></agm-marker>
        <agm-marker [latitude]="dischargeLoc.latitude" [longitude]="dischargeLoc.longitude"></agm-marker>
      </agm-map>
    </div>

  </mat-step>
</mat-horizontal-stepper>

