<div class="panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{cargo.title}}
      </mat-panel-title>
      <button *ngIf="checkPermissionForAdmin() && isCreating" mat-flat-button color="warn"
              class="action-info-button" (click)="removeCargo()">
        Delete
      </button>
      <button *ngIf="checkPermissionForAdmin() && isCreating" mat-flat-button color="primary"
              class="action-info-button" (click)="updateCargo()">
        Update
      </button>
    </mat-expansion-panel-header>

    <div class="left">
      <p *ngIf="cargo.description !== null && cargo.description !== ''">Description: {{cargo.description}}</p>
      <p>Weight: {{cargo.weight}}</p>
      <p>Load location: {{cargo.loadLocation.name}}, {{cargo.loadLocation.country}}</p>
      <p>Discharge location: {{cargo.dischargeLocation.name}}, {{cargo.dischargeLocation.country}}</p>
    </div>

    <div class="right">
      <agm-map [fitBounds]="bounds">
        <agm-marker [latitude]="loadLoc.latitude" [longitude]="loadLoc.longitude"></agm-marker>
        <agm-marker [latitude]="dischargeLoc.latitude" [longitude]="dischargeLoc.longitude"></agm-marker>
      </agm-map>
    </div>

    <button mat-flat-button color="primary" *ngIf="checkPermissionForDeliver()" (click)="deliver()">Deliver</button>
  </mat-expansion-panel>
</div>
