<div class="nav">
  <div class="left">
    <app-filter (onFilterInput)="doSearch($event)"></app-filter>
  </div>
  <div class="right">
    <app-navigation [setPage]="page"
                    (onSizeChange)="sizeChange($event)" (onPageChange)="pageChange($event)"></app-navigation>
  </div>
</div>

<form [formGroup]="secondFormGroup">
  <table mat-table [dataSource]="trucks">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.id}}
      </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.model}}
      </td>
    </ng-container>

    <ng-container matColumnDef="registrationNumber">
      <th mat-header-cell *matHeaderCellDef> Registration number</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.registrationNumber}}
      </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Capacity</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        {{truck.capacity}}
      </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Choice</th>
      <td mat-cell [ngClass]="{'grey': i % 2 === 0}" *matCellDef="let truck; let i = index">
        <button mat-stroked-button (click)="chooseTruck(truck)">
          Choose
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="truckDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: truckDisplayedColumns;"></tr>
  </table>

  <mat-expansion-panel *ngIf="selectedTruck !== undefined">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Truck: {{selectedTruck.model}}
      </mat-panel-title>
      <button mat-flat-button color="warn" class="action-info-button" (click)="deleteTruck()">
        Cancel
      </button>
    </mat-expansion-panel-header>

    <p>Registration number: {{selectedTruck.registrationNumber}}</p>
    <p>Model: {{selectedTruck.model}}</p>
    <p>Capacity:{{selectedTruck.capacity}}</p>
  </mat-expansion-panel>

  <button mat-flat-button color="primary" class="button-next"
          [disabled]="secondFormGroup.invalid" (click)="next()">
    Next
  </button>
</form>
