.button-next {
  margin-top: 1%;
}

.action-info-button {
  margin-right: 2%;
}

/*mat-panel-title {
  margin-bottom: 1.5%;
}*/

mat-expansion-panel {
  margin-top: 1%;
  /*width: 50%;*/
}

.nav {
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: right;
}
