<div>
  <button routerLink="/drivers">Список водителей</button>
  <button routerLink="/trucks">Список грузовиков</button>
  <button routerLink="/cargo">Список грузов</button>
  <button routerLink="/add-driver">Добавить водителя</button>
  <button routerLink="/add-truck">Добавить грузовик</button>
  <button routerLink="/add-cargo">Добавить груз</button>
  <button routerLink="/update-driver">Изменить данные водителя</button>
  <button routerLink="/driver-info">Заказы водителя(Кабинет)</button>
  <router-outlet></router-outlet>
</div>
