<div>
  <button routerLink="/drivers">Drivers list</button>
  <button routerLink="/managers">Managers list</button>
  <button routerLink="/trucks">Trucks list</button>
  <button routerLink="/cargo">Cargo list</button>
  <button routerLink="/add-driver">Add driver</button>
  <button routerLink="/add-manager">Add manager</button>
  <button routerLink="/add-truck">Add truck</button>
  <button routerLink="/add-cargo">Add cargo</button>
  <button routerLink="/update-driver">Update driver</button>
  <button routerLink="/driver-info">Driver's order(personal information)</button>
  <router-outlet></router-outlet>
</div>
