<div>
  <button routerLink="/drivers">Список водителей</button>
  <button routerLink="/trucks">Список грузовиков</button>
  <button routerLink="/cargo">Список грузов</button>
  <button routerLink="/add_driver">Добавить водителя</button>
  <button routerLink="/add_truck">Добавить грузовик</button>
  <button routerLink="/add_cargo">Добавить груз</button>
  <button routerLink="/update_driver">Изменить данные водителя</button>
  <button routerLink="/driver_info">Заказы водителя(Кабинет)</button>
  <router-outlet></router-outlet>
</div>
