<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="false">
    <ng-template matStepLabel>Fill out cargo description</ng-template>
    <app-cargo-info (onValidFirstGroup)="setUpFirstFormGroup($event, stepper)"></app-cargo-info>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" [editable]="false">
    <ng-template matStepLabel>Choose truck</ng-template>
    <app-truck-info [cargoWeight]="cargoWeight" (onValidSecondGroup)="setUpSecondFormGroup($event, stepper)"></app-truck-info>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup" [editable]="false">
    <ng-template matStepLabel>Choose truck</ng-template>
    <app-drivers-info [getDrivers]="isSecondGroupValid" (onValidThirdGroup)="setUpThirdFormGroup($event, stepper)"></app-drivers-info>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <mat-tab-group *ngIf="isThirdGroupValid">
      <mat-tab label="Cargo Information">
        <p>Title: {{cargo.title}}</p>
        <p *ngIf="cargo.description !== '' && cargo.description !== null">Description: {{cargo.description}}</p>
        <p>Weight: {{cargo.weight}}</p>
      </mat-tab>
      <mat-tab label="Truck Information">
        <p>Model: {{cargo.truck.model}}</p>
        <p>Registration number: {{cargo.truck.registrationNumber}}</p>
        <p>Capacity: {{cargo.truck.capacity}}</p>
        <p>Condition: {{cargo.truck.condition}}</p>
      </mat-tab>
      <mat-tab label="Driver Information">
        <p>First name: {{cargo.driver.user.firstName}} </p>
        <p>Last name: {{cargo.driver.user.lastName}} </p>
        <p>Driver license: {{cargo.driver.driverLicense}} </p>
        <p *ngIf="cargo.driver.user.phone !== null">Phone: {{cargo.driver.user.phone}}</p>
        <p>Email: {{cargo.driver.user.email}}</p>
      </mat-tab>
      <mat-tab label="Co-Driver Information">
        <p>First name: {{cargo.coDriver.user.firstName}} </p>
        <p>Last name: {{cargo.coDriver.user.lastName}} </p>
        <p>Driver license: {{cargo.coDriver.driverLicense}} </p>
        <p *ngIf="cargo.coDriver.user.phone !== null">Phone: {{cargo.coDriver.user.phone}}</p>
        <p>Email: {{cargo.coDriver.user.email}}</p>
      </mat-tab>
    </mat-tab-group>

    <p *ngIf="isCreated">Cargo has been created</p>

    <button mat-flat-button color="primary" (click)="confirm()"
            [disabled]="isCreated">
      Confirm
    </button>
  </mat-step>
</mat-horizontal-stepper>
