<mat-toolbar color="primary">
  <span class="title">{{ title }}</span>

  <button *ngIf="checkRole('ADMIN')" mat-button routerLink="/drivers">Drivers</button>
  <button *ngIf="checkRole('ADMIN')" mat-button routerLink="/trucks">Trucks</button>
  <button *ngIf="checkRole('ADMIN')" mat-button routerLink="/order">Orders</button>
  <button *ngIf="checkRole('ADMIN')" mat-button routerLink="/managers">Managers</button>
  <button *ngIf="checkRole('ADMIN')" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/add-city">Add city</button>
  </mat-menu>
  <span class="spacer"></span>
  <button mat-button *ngIf="showLogout()" [matMenuTriggerFor]="current">{{login}}</button>
  <mat-menu #current="matMenu">
    <button mat-menu-item routerLink="/homepage">Cabinet</button>
    <button mat-menu-item (click)="logout()">Log out</button>
  </mat-menu>
</mat-toolbar>
