<br>

<button mat-flat-button color="primary" (click)="addNewCargo()">Add new cargo</button>

<br>
<br>

<table mat-table [dataSource]="cargos" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id</th>
    <td mat-cell *matCellDef="let cargo"> {{cargo.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let cargo"> {{cargo.title}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight</th>
    <td mat-cell *matCellDef="let cargo"> {{cargo.weight}} </td>
  </ng-container>

  <ng-container matColumnDef="loadLocation">
    <th mat-header-cell *matHeaderCellDef> Load location</th>
    <td mat-cell *matCellDef="let cargo"> {{cargo.loadLocation}} </td>
  </ng-container>

  <ng-container matColumnDef="dischargeLocation">
    <th mat-header-cell *matHeaderCellDef> Discharge location</th>
    <td mat-cell *matCellDef="let cargo"> {{cargo.dischargeLocation}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let cargo"> {{cargo.status}} </td>
  </ng-container>

  <ng-container matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef> Info</th>
    <td mat-cell *matCellDef="let cargo">
      <button mat-flat-button color="primary" value="bold" (click)="openDialog(cargo)">
        Details
      </button>
      <button *ngIf="cargo.status === 'REFUSED_BY_DRIVER'" mat-flat-button color="primary"
              value="bold" (click)="updateCargo(cargo.id)">
        Edit
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
