<form [formGroup]="truckFormGroup" class="form">

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Registration number</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="registrationNumber" matInput
           placeholder="Registration number">
    <mat-error *ngIf="registrationNumberFormControl.hasError('pattern')">
      Enter a number in format АА12345
    </mat-error>
    <mat-error *ngIf="registrationNumberFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Model</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="model" matInput
           placeholder="Model">
    <mat-error *ngIf="modelFormControl.hasError('maxLength')">
      Length not more than 32
    </mat-error>
    <mat-error *ngIf="modelFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Capacity</mat-label>
    <input [errorStateMatcher]="matcher" formControlName="capacity" matInput
           placeholder="Capacity">
    <span matSuffix>kg</span>
    <mat-error *ngIf="capacityFormControl.hasError('pattern')">
      Enter number in format 2.5
    </mat-error>
    <mat-error *ngIf="capacityFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <p *ngIf="isCreated">Truck has been created</p>
  <p *ngIf="registrationNumberExists" class="mat-error">{{errorMessage}}</p>

  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!truckFormGroup.valid" value="bold">
    Submit
  </button>

</form>

