<form [formGroup]="truckFormGroup" class="example-form">

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="registrationNumber" matInput
           placeholder="Registration number">
    <mat-error *ngIf="registrationNumberFormControl.hasError('pattern') && !registrationNumberFormControl.hasError('required')">
      Enter a number in format АА12345
    </mat-error>
    <mat-error *ngIf="registrationNumberFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="model" matInput
           placeholder="Model">
    <mat-error *ngIf="modelFormControl.hasError('maxLength') && !modelFormControl.hasError('required')">
      Length not more than 32
    </mat-error>
    <mat-error *ngIf="modelFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <input [errorStateMatcher]="matcher" formControlName="capacity" matInput
           placeholder="Capacity">
    <mat-error *ngIf="capacityFormControl.hasError('pattern') && !capacityFormControl.hasError('required')">
      Enter number in format 2.5
    </mat-error>
    <mat-error *ngIf="capacityFormControl.hasError('required')">
      Required field
    </mat-error>
  </mat-form-field>

  <br>

  <p *ngIf="isCreated">Truck has been created</p>
  <p *ngIf="registrationNumberExists" class="mat-error">{{errorMessage}}</p>

  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!truckFormGroup.valid" value="bold">Submit
  </button>

</form>

