<div *ngIf="updatedDriver !== undefined">
  <form [formGroup]="driverFormGroup" class="example-form">

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="firstName" matInput
             placeholder="First name" [value]="updatedDriver.user.firstName">
      <mat-error *ngIf="firstNameFormControl.hasError('pattern')">
        Enter a first name in English(not more than 32 symbols)
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="lastName" matInput
             placeholder="Last name" [value]="updatedDriver.user.lastName">
      <mat-error *ngIf="lastNameFormControl.hasError('pattern')">
        Enter a last name in English(not more than 32 symbols)
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="phone" matInput
             placeholder="Phone" [value]="updatedDriver.user.phone">
      <mat-error *ngIf="lastNameFormControl.hasError('pattern')">
        Enter only numbers(not more than 11 symbols)
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="email" matInput
             placeholder="Email" [value]="updatedDriver.user.email">
      <mat-error *ngIf="lastNameFormControl.hasError('pattern')">
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <br>

    <mat-form-field class="example-full-width">
      <input [errorStateMatcher]="matcher" formControlName="driverLicense" matInput
             placeholder="Driver license" [value]="updatedDriver.driverLicense">
      <mat-error *ngIf="driverLicenseFormControl.hasError('pattern')">
        Enter 10 numbers
      </mat-error>
    </mat-form-field>

    <br>

<!--    {{driverFormGroup.controls.registrationNumber.value}}-->

    <p *ngIf="isUpdated">User data has been updated</p>
<!--    <p *ngIf="isDriverExist" class="mat-error">
      Driver with driver license:  already exists!
    </p>-->

    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!driverFormGroup.valid" value="bold">Apply
    </button>

  </form>
</div>
